# Почтовый сервер
IMAP_SERVER=servername
IMAP_PORT=993
EMAIL_LOGIN=your_email@domain.ru
EMAIL_PASSWORD=your_app_password

# Обработка писем
DELETE_AFTER_PROCESS=False
MAILBOX=INBOX

# Выходные данные
DOWNLOAD_DIR=./sber_attachments
OUTPUT_TSV=microbill_reestr.tsv
